.header{
  background: #000000;
  
  width: 100%;
  
  .header-container{
    height: 100px;
    transition: 0.5s;
    color: rgb(255, 255, 255);
    max-width: 1465px;
    
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .group-logo{
      font-size: 24px;
      margin: auto 0;
      img{
        margin-right: 18px;
      }
      
    }
    .nav-container{
      margin: auto 0;
      font-size: 18px;
      .nav-container-ul{
        display: flex;
        .nav-container-li{

          margin-left: 22px;
          span{
            margin-left: 12px;
          }
          :hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  .header-container-down{
    display: flex;
    justify-content: space-between;
    height: 400px;
    transition: 0.5s;
    .group-logo{
      margin-top: 100px;
      
    }
    .nav-container{
      margin-top: 100px;
      .nav-container-ul{
        .nav-container-li{

        }
      }
    }
  }
}
